<%- include('../layouts/header-ui') %>
    <meta name="csrf-token" content="<%= csrfToken %>">
    <div class="content fs-6 d-flex flex-column flex-column-fluid" id="kt_content">
        <div class="post fs-6 d-flex flex-column-fluid border border-top-1 border-left-1 border-right-0 border-bottom-0"
            id="kt_post">
            <div class="container-md">

                <div class="row gy-5 g-xl-10">
                    <div class="col-xl-4 mb-xl-10">
                        <div class="card h-md-100">
                            <div class="card-header ribbon">
                                <div class="card-title text-uppercase">media promosi</div>
                                <div class="ribbon-label bg-success">PROMO</div>
                            </div>
                            <div class="card-body pb-0">
                                <div class="d-flex flex-column justify-content-between h-100">
                                    <div class="pt-2">
                                        <div class="text-start text-gray-600 fs-5 fw-bold pb-1">Promo dengan
                                            judul<code id="title_promo"><%= promo.title %></code> dimulai pada tanggal
                                            <br>
                                            <span id="start_date_promo" class="text-danger">
                                                <%= moment(promo.start).format( 'DD-MMM-YYYY' ) %>
                                            </span> s/d <span id="start_date_promo" class="text-success"></span>
                                            <%= moment(promo.start).add(promo.duration,'d').format('DD-MMM-YYYY') %>
                                                </span>
                                        </div>

                                        <span class="fs-6 fw-bold text-gray-400">klik tombol ubah promo untuk merubah
                                            waktu serta banner</span>
                                        <div class="text-center py-7">
                                            <button type="button" id="btn-promotion" class="btn btn-primary btn-sm"
                                                data-promition_id="<%= promo_id %>" data-start_date="<%= promo.start %>"
                                                data-duration="<%= promo.duration %>" data-image="<%= promo.image %>"
                                                data-title="<%= promo.title %>">Ubah
                                                Promo</button>
                                        </div>
                                    </div>
                                    <div class="flex-grow-1 bgi-no-repeat bgi-size-contain bgi-position-x-center bgi-position-y-bottom card-rounded-bottom max-h-175px min-h-175px"
                                        style="background-image:url('/metroland/assets/promo/<%=promo.image%>')"></div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-xl-8 mb-xl-10">
                        <div class="card h-md-100">
                            <div class="card-header ribbon">
                                <div class="card-title text-uppercase">Tentang kami</div>

                            </div>
                            <div class="card-body pb-0">
                                <div class="d-flex flex-column h-100">
                                    <div class="fv-row mb-7">
                                        <input type="hidden" id="about_id" value="<%= about?about.id:0%>" />
                                        <textarea name="about" id="mdl_edit_content_about">
                                            <%=about? about.description:'' %>
                                        </textarea>
                                        <div class="col-md-3 mt-3">
                                            <button type="button" id="btn-save-about"
                                                class="btn btn-primary btn-sm">Simpan</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>

                <!-- START: LIST AKSES ICONS-->
                <div class="row">
                    <div class="col-md-12">
                        <div class="card h-md-100">
                            <div class="card-header ribbon">
                                <div class="card-title text-uppercase">Daftar icon akses
                                </div>
                                <div class="ribbon-label bg-success">Icon Akses</div>
                            </div>
                            <div class="card-body pb-0">
                                <button type="button" class="btn btn-success btn-hover-scale me-5 btn-sm mb-2" id="btn-show-mdl-add-akses-icon"><i class="bi bi-file-earmark-image"></i>Tambah Akses Icon</button>
                                <div class="d-flex flex-column justify-content-between h-100">
                                    <div class="alert alert-primary">
                                        <div class="d-flex flex-column">
                                            <span>Card ini berfungsi untuk mengelola icon-icon yang berhubungan dengan fasilitas / akses yang dapat terhubung dengan setiap tipe / klaster</span>
                                        </div>
                                    </div>
                                    
                                    <div class="row border-1 border-dark">

                                        <div class="card-body card-scroll h-500px">
                                            
                                            <table class="table align-middle table-row-dashed fs-6 gy-5 dataTable no-footer" id="tbl-icons-facilities">
                                                <thead>
                                                    <tr class="text-start text-gray-400 fw-bolder fs-7 text-uppercase gs-0">
                                                        <th class="min-w-200px">
                                                            Jenis / Tipe
                                                        </th>
                                                        <th class="min-w-200px">
                                                            Icon
                                                        </th>
                                                        <th class="min-w-200px">
                                                            Tipe / Klaster
                                                            <i class="bi bi-info-circle ms-2 fs-7" data-bs-toggle="tooltip"
                                                                title="Setiap akses icon dapat memiliki relasi dengan tipe untuk masing-masing klaster, untuk mengubah akses icon pada setiap tipe/klaster dapat mengubah melalui menu Tipe"></i>
                                                        </th>
                                                        <th class="min-w-200px">
                                                            Tanggal Pembuatan
                                                        </th>
                                                        <th class="min-w-200px">
                                                            Tindakan
                                                        </th>
                                                    </tr>
                                                </thead>
    
                                                <tbody class="fw-bold text-gray-600">
                                                    <%let no=1; iconAkses.forEach(akses=>{%>
                                                        <tr class="odd">
                                                            <td>
                                                                <span class="text-gray-800 text-hover-primary fs-5 fw-bolder">
                                                                    <%= akses.type %>
                                                                </span>
                                                            </td>
                                                            <td>
                                                                <div class="symbol symbol-50px">
                                                                    <span class="symbol-label" style="background-image:url(/metroland/assets/img/<%=akses.icon%>);"></span>
                                                                </div>
                                                            </td>
                                                            <td>
                                                                <div class="symbol-group symbol-hover">
    
                                                                    <% let n = 1; akses.accesses.forEach(tipe=>{%>
                                                                        <% var randomColor = ['bg-warning','bg-success','bg-info','bg-danger','bg-primary'][(Math.floor(Math.random() * 4))] %>
                                                                        <%if(tipe.cluster != null){%>
                                                                            <div class="symbol symbol-35px symbol-circle" data-bs-toggle="tooltip" data-bs-original-title="<%=tipe.cluster.name%>">
                                                                                <span class="symbol-label <%-randomColor%> text-inverse-warning fw-bolder"><%= n%></span>
                                                                            </div>
                                                                            <%n++}%>
                                                                        <%})%>
                                                                    
                                                                </div>
                                                            </td>
                                                            <td>
                                                                <span class="text-gray-800 text-hover-primary fs-5 fw-bolder">
                                                                    <%= moment(akses.created_at).format( 'DD-MMM-YYYY' ) %>
                                                                </span>
                                                            </td>
                                                            <td>
                                                                <div class="me-0">
                                                                    <button
                                                                        class="btn btn-sm btn-icon btn-bg-light btn-active-color-primary"
                                                                        data-kt-menu-trigger="click" data-kt-menu-placement="bottom-end">
                                                                        <i class="bi bi-three-dots-vertical fs-4"></i>
                                                                    </button>
                                                                    <!--begin::Menu 3-->
                                                                    <div class="menu menu-sub menu-sub-dropdown menu-column menu-rounded menu-gray-800 menu-state-bg-light-primary fw-bold w-200px py-3"
                                                                        data-kt-menu="true">
                                                                        <!--begin::Heading-->
                                                                        <div class="menu-item px-3">
                                                                            <div
                                                                                class="menu-content text-muted pb-2 px-3 fs-7 text-uppercase">
                                                                                Actions</div>
                                                                        </div>
                                                                        <div class="menu-item px-3">
                                                                            <a class="menu-link flex-stack px-3 btn-edit-akses-icon"
                                                                                data-akses_icon_id="<%= akses.id %>"
                                                                                data-akses_icon_type="<%= akses.type%>"
                                                                                data-csrf="<%= csrfToken %>"
                                                                                data-akses_icon="<%= akses.icon %>">Ubah
                                                                                Data
                                                                                <i class="fas fa-exclamation-circle ms-2 fs-7"
                                                                                    data-bs-toggle="tooltip"
                                                                                    title="Fungsi yang digunakan untuk merubah data akses icon"></i></a>
                                                                        </div>
                                                                        <div class="menu-item px-3">
                                                                            <a class="menu-link flex-stack px-3 btn-delete-akses-icon"
                                                                            data-akses_icon_id="<%= akses.id %>" data-csrf="<%= csrfToken %>"
                                                                            data-akses_icon_type="<%= akses.type%>">Hapus
                                                                                <i class="fas fa-exclamation-circle ms-2 fs-7"
                                                                                    data-bs-toggle="tooltip"
                                                                                    title="Fungsi yang digunakan untuk menghapus data akses icon"></i></a>
                                                                        </div>
                    
                                                                    </div>
                                                                </div>
                                                            </td>
                                                        </tr>
                                                        <%})%>
                                                </tbody>
                                            </table>
                                        </div>
                                        
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- END: LIST AKSES ICONS-->

                
                <!-- START: LIST FASILITAS-->
                <div class="row">
                    <div class="separator separator-dashed border-2 my-1"></div>
                    <div class="col-md-12">
                        <div class="card h-md-100">
                            <div class="card-header ribbon">
                                <div class="card-title text-uppercase">Daftar icon fasilitas
                                </div>
                                <div class="ribbon-label bg-success">Icon Fasilitas</div>
                            </div>
                            <div class="card-body pb-0">
                                <button type="button" class="btn btn-success btn-hover-scale me-5 btn-sm mb-2" id="btn-show-mdl-add-facility-icon"><i class="bi bi-file-earmark-image"></i>Tambah Fasilitas</button>
                                <div class="d-flex flex-column justify-content-between h-100">
                                    <div class="alert alert-primary">
                                        <div class="d-flex flex-column">
                                            <span>Card ini berfungsi untuk mengelola icon-icon yang berhubungan dengan fasilitas yang dapat terhubung dengan setiap tipe / klaster</span>
                                        </div>
                                    </div>
                                    
                                    <div class="row border-1 border-dark">

                                        <div class="card-body card-scroll h-500px">
                                            
                                            <table class="table align-middle table-row-dashed fs-6 gy-5 dataTable no-footer" id="tbl-facilities">
                                                <thead>
                                                    <tr class="text-start text-gray-400 fw-bolder fs-7 text-uppercase gs-0">
                                                        <th class="min-w-200px">
                                                            Fasilitas
                                                        </th>
                                                        <th class="min-w-200px">
                                                            Icon
                                                        </th>
                                                        <th class="min-w-200px">
                                                            Tipe / Klaster
                                                            <i class="bi bi-info-circle ms-2 fs-7" data-bs-toggle="tooltip"
                                                                title="Setiap fasilitas dapat memiliki relasi dengan tipe untuk masing-masing klaster, untuk mengubah fasilitas pada setiap tipe/klaster dapat mengubah melalui menu Tipe"></i>
                                                        </th>
                                                        <th class="min-w-200px">
                                                            Tanggal Pembuatan
                                                        </th>
                                                        <th class="min-w-200px">
                                                            Tindakan
                                                        </th>
                                                    </tr>
                                                </thead>
                                                
                                                <tbody class="fw-bold text-gray-600">
                                                    <%let facility_no=1; facilities.forEach(facility=>{%>
                                                        <tr class="odd">
                                                            <td>
                                                                <span class="text-gray-800 text-hover-primary fs-5 fw-bolder">
                                                                    <%= facility.name %>
                                                                </span>
                                                            </td>
                                                            <td>
                                                                <div class="symbol symbol-50px">
                                                                    <span class="symbol-label" style="background-image:url(/metroland/assets/img/<%=facility.image%>);"></span>
                                                                </div>
                                                            </td>
                                                            <td>
                                                                <div class="symbol-group symbol-hover">
    
                                                                    <% let facility_n = 1; facility.clusters.forEach(cluster=>{%>
                                                                        <% var randomColor = ['bg-warning','bg-success','bg-info','bg-danger','bg-primary'][(Math.floor(Math.random() * 4))] %>
                                                                        <%if(cluster != null){%>
                                                                            <div class="symbol symbol-35px symbol-circle" data-bs-toggle="tooltip" data-bs-original-title="<%=cluster.name%>">
                                                                                <span class="symbol-label <%-randomColor%> text-inverse-warning fw-bolder"><%= facility_n%></span>
                                                                            </div>
                                                                            <%facility_n++}%>
                                                                        <%})%>
                                                                    
                                                                </div>
                                                            </td>
                                                            <td>
                                                                <span class="text-gray-800 text-hover-primary fs-5 fw-bolder">
                                                                    <%= moment(facility.created_at).format( 'DD-MMM-YYYY' ) %>
                                                                </span>
                                                            </td>
                                                            <td>
                                                                <div class="me-0">
                                                                    <button
                                                                        class="btn btn-sm btn-icon btn-bg-light btn-active-color-primary"
                                                                        data-kt-menu-trigger="click" data-kt-menu-placement="bottom-end">
                                                                        <i class="bi bi-three-dots-vertical fs-4"></i>
                                                                    </button>
                                                                    <!--begin::Menu 3-->
                                                                    <div class="menu menu-sub menu-sub-dropdown menu-column menu-rounded menu-gray-800 menu-state-bg-light-primary fw-bold w-200px py-3"
                                                                        data-kt-menu="true">
                                                                        <!--begin::Heading-->
                                                                        <div class="menu-item px-3">
                                                                            <div
                                                                                class="menu-content text-muted pb-2 px-3 fs-7 text-uppercase">
                                                                                Actions</div>
                                                                        </div>
                                                                        <div class="menu-item px-3">
                                                                            <a class="menu-link flex-stack px-3 btn-edit-facility-icon"
                                                                                data-facility_icon_id="<%= facility.id %>"
                                                                                data-facility_image="<%= facility.image%>" data-facility_name="<%= facility.name%>"
                                                                                data-csrf="<%= csrfToken %>">Ubah
                                                                                Data
                                                                                <i class="fas fa-exclamation-circle ms-2 fs-7"
                                                                                    data-bs-toggle="tooltip"
                                                                                    title="Fungsi yang digunakan untuk merubah data fasilitas icon"></i></a>
                                                                        </div>
                                                                        <div class="menu-item px-3">
                                                                            <a class="menu-link flex-stack px-3 btn-delete-fasility-icon"
                                                                            data-facility_icon_id="<%= facility.id %>" data-csrf="<%= csrfToken %>"
                                                                            data-facility_name="<%= facility.name%>">Hapus
                                                                                <i class="fas fa-exclamation-circle ms-2 fs-7"
                                                                                    data-bs-toggle="tooltip"
                                                                                    title="Fungsi yang digunakan untuk menghapus data fasilitas"></i></a>
                                                                        </div>
                    
                                                                    </div>
                                                                </div>
                                                            </td>
                                                        </tr>
                                                        <%})%>
                                                </tbody>
                                                
                                            </table>
                                        </div>
                                        
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- END: LIST FASILITAS-->

                <div class="row">
                    <div class="separator separator-dashed border-2 my-1"></div>
                    <div class="col-md-12">
                        <div class="card h-md-100">
                            <div class="card-header ribbon">
                                <div class="card-title text-uppercase">Header Setiap Halaman
                                </div>
                                <div class="ribbon-label bg-info">Gambar Latar Header</div>
                            </div>
                            <div class="card-body pb-0">
                                <div class="d-flex flex-column justify-content-between h-100">
                                    <div class="alert alert-primary">
                                        <div class="d-flex flex-column">
                                            <span>Halaman ini berfungsi untuk merubah latar gambar header pada website
                                                front end disetiap
                                                halaman</span>
                                            <!--end::Content-->
                                        </div>

                                        <!--end::Wrapper-->
                                    </div>

                                    <div class="row border-1 border-dark">
                                        <h1 class="title">Halaman Beranda</h1>
                                        <div class="col-md-12 d-inline-flex">

                                            <div class="fv-row mb-7 me-5">
                                                <label class="d-block fw-bold fs-6 mb-5">
                                                    <span>Header 1</span>
                                                    <i class="fas fa-info-circle ms-2 fs-7" data-bs-toggle="tooltip"
                                                        title="gambar latar pada halaman beranda."></i>
                                                </label>
                                                <div class="image-input image-input-outline image-input-outline"
                                                    data-kt-image-input="true">
                                                    <div class="image-input-wrapper w-125px h-125px"
                                                        id="header_1_background_home">
                                                    </div>

                                                    <label
                                                        class="btn btn-icon btn-circle btn-active-color-primary w-25px h-25px bg-body shadow"
                                                        data-kt-image-input-action="change" data-bs-toggle="tooltip"
                                                        title
                                                        data-bs-original-title="Pilih foto untuk gambar latar pada halaman beranda">
                                                        <i class="bi bi-pencil-fill fs-7"></i>
                                                        <input type="file" name="file_header_1_home"
                                                            id="file_header_1_home" accept=".png, .jpg, .jpeg" />
                                                        <input type="hidden" name="avatar_remove" />
                                                    </label>
                                                    <span
                                                        class="btn btn-icon btn-circle btn-active-color-primary w-25px h-25px bg-body shadow"
                                                        data-kt-image-input-action="cancel" data-bs-toggle="tooltip"
                                                        title data-bs-original-title="Batalkan foto latar">
                                                        <i class="bi bi-x fs-2"></i>
                                                    </span>

                                                    <span id="btn-remove-header-1-home"
                                                        class="btn btn-icon btn-circle btn-active-color-primary w-25px h-25px bg-body shadow"
                                                        data-kt-image-input-action="remove" data-bs-toggle="tooltip"
                                                        title data-bs-original-title="Remove avatar">
                                                        <i class="bi bi-x fs-2"></i>
                                                    </span>
                                                </div>
                                            </div>

                                            <div class="fv-row mb-7 me-5">
                                                <label class="d-block fw-bold fs-6 mb-5">
                                                    <span>Header 2</span>
                                                    <i class="fas fa-info-circle ms-2 fs-7" data-bs-toggle="tooltip"
                                                        title="gambar latar pada halaman beranda."></i>
                                                </label>
                                                <div class="image-input image-input-outline image-input-outline"
                                                    data-kt-image-input="true">
                                                    <div class="image-input-wrapper w-125px h-125px"
                                                        id="header_2_background_home">
                                                    </div>

                                                    <label
                                                        class="btn btn-icon btn-circle btn-active-color-primary w-25px h-25px bg-body shadow"
                                                        data-kt-image-input-action="change" data-bs-toggle="tooltip"
                                                        title
                                                        data-bs-original-title="Pilih foto untuk gambar latar pada halaman beranda">
                                                        <i class="bi bi-pencil-fill fs-7"></i>
                                                        <input type="file" name="file_header_2_home"
                                                            id="file_header_2_home" accept=".png, .jpg, .jpeg" />
                                                        <input type="hidden" name="avatar_remove" />
                                                    </label>
                                                    <span
                                                        class="btn btn-icon btn-circle btn-active-color-primary w-25px h-25px bg-body shadow"
                                                        data-kt-image-input-action="cancel" data-bs-toggle="tooltip"
                                                        title data-bs-original-title="Batalkan foto latar">
                                                        <i class="bi bi-x fs-2"></i>
                                                    </span>

                                                    <span id="btn-remove-header-2-home"
                                                        class="btn btn-icon btn-circle btn-active-color-primary w-25px h-25px bg-body shadow"
                                                        data-kt-image-input-action="remove" data-bs-toggle="tooltip"
                                                        title data-bs-original-title="Remove avatar">
                                                        <i class="bi bi-x fs-2"></i>
                                                    </span>
                                                </div>
                                            </div>

                                            <div class="fv-row mb-7 me-5">
                                                <label class="d-block fw-bold fs-6 mb-5">
                                                    <span>Header 3</span>
                                                    <i class="fas fa-info-circle ms-2 fs-7" data-bs-toggle="tooltip"
                                                        title="gambar latar pada halaman beranda."></i>
                                                </label>
                                                <div class="image-input image-input-outline image-input-outline"
                                                    data-kt-image-input="true">
                                                    <div class="image-input-wrapper w-125px h-125px"
                                                        id="header_3_background_home">
                                                    </div>

                                                    <label
                                                        class="btn btn-icon btn-circle btn-active-color-primary w-25px h-25px bg-body shadow"
                                                        data-kt-image-input-action="change" data-bs-toggle="tooltip"
                                                        title
                                                        data-bs-original-title="Pilih foto untuk gambar latar pada halaman beranda">
                                                        <i class="bi bi-pencil-fill fs-7"></i>
                                                        <input type="file" name="file_header_3_home"
                                                            id="file_header_3_home" accept=".png, .jpg, .jpeg" />
                                                        <input type="hidden" name="avatar_remove" />
                                                    </label>
                                                    <span
                                                        class="btn btn-icon btn-circle btn-active-color-primary w-25px h-25px bg-body shadow"
                                                        data-kt-image-input-action="cancel" data-bs-toggle="tooltip"
                                                        title data-bs-original-title="Batalkan foto latar">
                                                        <i class="bi bi-x fs-2"></i>
                                                    </span>

                                                    <span id="btn-remove-header-3-home"
                                                        class="btn btn-icon btn-circle btn-active-color-primary w-25px h-25px bg-body shadow"
                                                        data-kt-image-input-action="remove" data-bs-toggle="tooltip"
                                                        title data-bs-original-title="Remove avatar">
                                                        <i class="bi bi-x fs-2"></i>
                                                    </span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <%- include('./modal') %>

            </div>
        </div>

    </div>
    <%- include('../layouts/footer-ui') %>
        <%- include('../layouts/menu-ui') %>
            <%- include('../layouts/script') %>
                <script src="https://cdn.ckeditor.com/ckeditor5/40.0.0/classic/ckeditor.js"></script>
                <script src="/metroland/assets/js/pages/config/index.js"></script>
                <%- include('../layouts/end-tag') %>