<div class="contaier border border-2 border-black rounded-bottom stay-bottom d-flex justify-content-between">
    <div class=" d-flex align-items-center">
        <p class="text-muted mb-0 fs-6 ps-5" id="data-count">Total <%= data.count%></p>
    </div>

    <!-- pagination -->
    <div class="d-flex align-items-center">
        <nav aria-label="Page navigation example">
            <ul class="pagination" id="pagination" value='<%- Math.ceil(data.count/data.size) %>'
                page="<%- data.page %>" count="<%- data.count %>">
                <% const maxButtonsToShow=5; const halfMaxButtons=Math.floor(maxButtonsToShow / 2); let
                    startPage=Math.max(data.page - halfMaxButtons, 1); let endPage=Math.min(startPage +
                    maxButtonsToShow - 1, Math.ceil(data.count / data.size)); if (endPage - startPage <
                    maxButtonsToShow - 1) { startPage=Math.max(endPage - maxButtonsToShow + 1, 1); } %>

                    <li type="button" class="page-item pagination-button" <%=data.page===1 ? "hidden" : "" %>
                        buttonName="1"><a class="page-link">
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                                class="bi bi-chevron-double-left" viewBox="0 0 16 16">
                                <path fill-rule="evenodd"
                                    d="M8.354 1.646a.5.5 0 0 1 0 .708L2.707 8l5.647 5.646a.5.5 0 0 1-.708.708l-6-6a.5.5 0 0 1 0-.708l6-6a.5.5 0 0 1 .708 0z" />
                                <path fill-rule="evenodd"
                                    d="M12.354 1.646a.5.5 0 0 1 0 .708L6.707 8l5.647 5.646a.5.5 0 0 1-.708.708l-6-6a.5.5 0 0 1 0-.708l6-6a.5.5 0 0 1 .708 0z" />
                            </svg>
                        </a></li>


                    <li type="button" class="page-item pagination-button" <%=data.page===1 ? "hidden" : "" %>
                        buttonName="<%- data.page - 1 %>"><a class="page-link">
                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                                    class="bi bi-chevron-left" viewBox="0 0 16 16">
                                    <path fill-rule="evenodd"
                                        d="M11.354 1.646a.5.5 0 0 1 0 .708L5.707 8l5.647 5.646a.5.5 0 0 1-.708.708l-6-6a.5.5 0 0 1 0-.708l6-6a.5.5 0 0 1 .708 0z" />
                                </svg>
                            </a></li>

                    <% for (let j=startPage; j <=endPage; j++) { %>
                        <li type="button" class="page-item pagination-button <%= data.page === j ? " active" : "" %>
                            " buttonName="<%= j %>"><a class="page-link">
                                    <%= j %>
                                </a></li>
                        <% } %>

                            <li type="button" class="page-item pagination-button"
                                <%=data.page===Math.ceil(data.count / data.size) ? "hidden" : "" %> buttonName="<%-
                                    data.page + 1 %>" ><a class="page-link">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16"
                                            fill="currentColor" class="bi bi-chevron-right" viewBox="0 0 16 16">
                                            <path fill-rule="evenodd"
                                                d="M4.646 1.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1 0 .708l-6 6a.5.5 0 0 1-.708-.708L10.293 8 4.646 2.354a.5.5 0 0 1 0-.708z" />
                                        </svg>
                                    </a></li>

                            <li type="button" class="page-item pagination-button"
                                <%=data.page===Math.ceil(data.count / data.size) ? "hidden" : "" %> buttonName="<%-
                                    Math.ceil(data.count / data.size) %>" ><a class="page-link">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16"
                                            fill="currentColor" class="bi bi-chevron-double-right"
                                            viewBox="0 0 16 16">
                                            <path fill-rule="evenodd"
                                                d="M3.646 1.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1 0 .708l-6 6a.5.5 0 0 1-.708-.708L9.293 8 3.646 2.354a.5.5 0 0 1 0-.708z" />
                                            <path fill-rule="evenodd"
                                                d="M7.646 1.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1 0 .708l-6 6a.5.5 0 0 1-.708-.708L13.293 8 7.646 2.354a.5.5 0 0 1 0-.708z" />
                                        </svg>
                                    </a></li>

            </ul>
        </nav>
    </div>

    <!-- go to page -->
    <div class=""></div>
</div>