<%- include('../layouts/f_header') %>
    <meta name="first_cluster" content="<%= data.clusters[0].id %>">
    <%- include('../layouts/f_menu_general') %>

        <!--CONTENT-->
        <div class="hero-video vdo">
            <video id="my_video" playsinline="playsinline" autoplay="autoplay" loading="lazy" muted="muted" loop="loop">
                <source src="/metroland/assets/video/sample-video.mp4" type="video/mp4">
            </video>
            <a href="#pills-tabContent" class="scroll-down index_page" id="btn_scroll_down">
                <div class="content-scroll">
                    <div>
                        <i class="bi bi-arrow-down-circle fs-1"></i>
                    </div>
                </div>
            </a>
        </div>
        <div class="mw-100 mh-100">
            <div class="position-absolute top-50 start-50 translate-middle-x">
                <div class="spinner-grow" style="color: #B37F2C;" role="status">
                    <span class="visually-hidden">Loading...</span>
                </div>
            </div>
        </div>


        <div class="container-fluid" id="cluster">
            <div class="container my-2 py-5" style="overflow-x: hidden">
                <div class="cluster-title text-center img-fluid">
                    <img src="/metroland/assets/img/<%= data.image %>" loading="lazy">
                    <p id="pills-tabContent">
                        <%= JSDOM.fragment(data.content).textContent%>
                    </p>
                </div>
                <div>
                    <ul class="nav nav-pills mt-5 nav-justified" id="pills-tab" role="tablist">
                        <%let no=1; data.clusters.forEach(cluster=> {%>
                            <li class="nav-item" role="presentation">

                                <button class="nav-link tab-cluster <%- no == 1 ?" active":""%>" id="pills-<%=
                                        cluster.id %>
                                        -tab" data-cluster_id="<%= cluster.id %>"
                                            data-bs-toggle="pill" data-latitude="<%= cluster.latitude %>"
                                                data-longitude="<%= cluster.longitude %>"
                                                    data-bs-target="#cluster_<%= cluster.id %>" type="button" role="tab"
                                                        aria-controls="pills-<%= cluster.name %>"
                                                            aria-selected="true"><%= cluster.name.toUpperCase() %>
                                </button>
                            </li>
                            <%no++});%>
                    </ul>

                    <div class="tab-content">
                        <%let no_=1; data.clusters.forEach(cluster=> {%>
                            <div class="tab-pane fade show <%- no_ == 1?" active":""%>" id="cluster_<%= cluster.id %>"
                                    role="tabpanel"
                                    aria-labelledby="pills-<%= cluster.id %>-tab" tabindex="0">
                                        <div>
                                            <div class="card mx-auto mx-5 my-5 align-top">
                                                <div class="row g-0 d-flex">
                                                    <div class="col-md-5 nomor-2">
                                                        <div class="card-body" style="overflow-x: hidden">
                                                            <h1 class="card-title">
                                                                <%= cluster.name.toUpperCase() %>
                                                            </h1>
                                                            <p class="card-text">
                                                                <%= cluster.description %>
                                                            </p>
                                                            <div class="cluster-spec table-responsive">
                                                                <table class="table mt-3 align-middle">
                                                                    <tbody>
                                                                        <tr>
                                                                            <td><img src="/metroland/assets/icons/bedroom.png"
                                                                                    class="" loading="lazy">
                                                                            </td>
                                                                            <td>Kamar Tidur</td>
                                                                            <td class="text-end">
                                                                                <%= cluster.total_badroom%>
                                                                            </td>
                                                                        </tr>
                                                                        <tr>
                                                                            <td><img src="/metroland/assets/icons/bathroom.png"
                                                                                    class="" loading="lazy">
                                                                            </td>
                                                                            <td>Kamar Mandi</td>
                                                                            <td class="text-end">
                                                                                <%= cluster.total_bathroom%>
                                                                            </td>
                                                                        </tr>
                                                                        <tr>
                                                                            <td><img src="/metroland/assets/icons/garage.png"
                                                                                    class="" loading="lazy">
                                                                            </td>
                                                                            <td>Garasi</td>
                                                                            <td class="text-end">
                                                                                <%= cluster.total_garage%>
                                                                            </td>
                                                                        </tr>
                                                                        <tr>
                                                                            <td><img src="/metroland/assets/icons/area.png"
                                                                                    class="" loading="lazy">
                                                                            </td>
                                                                            <td>Luas Tanah</td>
                                                                            <td class="text-end">
                                                                                <%= cluster.area%>M<sup>2</sup>
                                                                            </td>
                                                                        </tr>
                                                                        <tr>
                                                                            <td><img src="/metroland/assets/icons/home.png"
                                                                                    class="">
                                                                            </td>
                                                                            <td>Luas Bangunan</td>
                                                                            <td class="text-end">
                                                                                <%= cluster.building_area%>M<sup>2</sup>
                                                                            </td>
                                                                        </tr>
                                                                    </tbody>
                                                                </table>
                                                            </div>
                                                        </div>
                                                    </div>

                                                    <div class="spec-img col-md-7 nomor-1">
                                                        <div id="carouselExample_<%= cluster.id %>"
                                                            class="carousel carousel-dark slide" data-bs-ride="carousel"
                                                            data-bs-pause="hover">

                                                            <div class="carousel-inner">
                                                                <%let ciNo=1; cluster.ClusterImages.forEach(ci=>{%>
                                                                    <div class="carousel-item <%-ciNo == 1?" active":""
                                                                        %>" data-bs-interval="2000">
                                                                        <div class="img-container img-cluster">
                                                                            <a href="#" class="pop">
                                                                                <img src="/metroland/assets/img_cluster/<%= ci.image %>"
                                                                                    class="img-thumbnail"
                                                                                    id="<%= ci.id %>" loading="lazy">
                                                                            </a>
                                                                        </div>

                                                                    </div>
                                                                    <%ciNo++})%>
                                                            </div>
                                                            <button class="carousel-control-prev" type="button"
                                                                data-bs-target="#carouselExample_<%= cluster.id %>"
                                                                data-bs-slide="prev">
                                                                <span
                                                                    class="carousel-control-prev-icon bg-dark rounded-2"
                                                                    aria-hidden="true"></span>
                                                                <span class="visually-hidden">Previous</span>
                                                            </button>
                                                            <button class="carousel-control-next" type="button"
                                                                data-bs-target="#carouselExample_<%= cluster.id %>"
                                                                data-bs-slide="next">
                                                                <span
                                                                    class="carousel-control-next-icon bg-dark rounded-2"
                                                                    aria-hidden="true"></span>
                                                                <span class="visually-hidden">Next</span>
                                                            </button>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                            </div>
                            <%no_++});%>
                    </div>
                </div>
            </div>
        </div>

        <div class="container-fluid bg-white mt-5 py-5">
            <div class="container text-center py-5">
                <h1 class="pb-3">Proyek Area</h1>
                <a href="#" class="pop-proyek-area">
                    <img class="img-fluid" src="/metroland/assets/img_site_plan/<%= data.image_site_plan%>"
                        loading="lazy">
                </a>
            </div>
        </div>

        <div class="container-fluid py-3" id="fasilitas">
            <div class="container-fluid py-3 px-1 text-center">
                <h1 class="text-center">Fasilitas</h1>

                <div class="row pt-5 justify-content-center" id="facility-body">

                </div>
            </div>
        </div>

        <!-- akses -->
        <div class="container-fluid bg-white py-5" id="brand-value">
            <div class="container-fluid text-center py-md-5">
                <h1>Akses</h1>

                <div class="row pt-5 justify-content-center px-1" id="access-body">
                </div>
            </div>
        </div>
        <!-- lokasi -->
        <div>
            <div id="lokasi" class="z-depth-1-half map-container">
                <iframe id="mapView" name="mapView"
                    src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d126934.52850657306!2d106.89173253906249!3d-6.170372399999997!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x2e698a4d1f38b353%3A0x69075bc2ab417320!2sKantor%20Pemasaran%20Victoria%20by%20METROLAND!5e0!3m2!1sid!2sid!4v1698081622789!5m2!1sid!2sid"
                    style="border:0;" allowfullscreen="" loading="lazy"
                    referrerpolicy="no-referrer-when-downgrade"></iframe>

            </div>
        </div>
        <%- include('modal') %>
            <%- include('../layouts/f_footer') %>
                <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
                <script src="https://code.jquery.com/jquery-1.9.1.min.js"></script>
                <script src="/metroland/assets/js/front_end/product/index.js"></script>
                <%- include('../layouts/f_end') %>