<%- include('../layouts/header-ui') %>
    <div class="content fs-6 d-flex flex-column flex-column-fluid" id="kt_content">
        <div class="post fs-6 d-flex flex-column-fluid border border-top-1 border-left-1 border-right-0 border-bottom-0"
            id="kt_post">
            <div class="container-xxl">

            </div>
        </div>
    </div>
    <%- include('../layouts/footer-ui') %>
        <%- include('../layouts/menu-ui') %>
            <%- include('../layouts/script') %>
                <!-- <script src="/prodesk/assets/js/pages/dashboard/index.js"></script> -->
                <%- include('../layouts/end-tag') %>