<%- include('../layouts/f_header') %>
    <%- include('../layouts/f_menu_beranda') %>

        <div id="carouselExampleIndicators" class="carousel carousel-dark slide" data-bs-ride="carousel"
            data-bs-pause="hover">
            <div class="carousel-indicators" id="first_prd">
                <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active"
                    aria-current="true" aria-label="Slide 1"></button>
                <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1"
                    aria-label="Slide 2"></button>
                <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2"
                    aria-label="Slide 3"></button>
            </div>
            <div class="carousel-inner">
                <div class="carousel-item active" data-bs-interval="2000">
                    <img src="/metroland/assets/img/Aglonema.jpg" class="d-block w-100" alt="...">
                </div>
                <div class="carousel-item" data-bs-interval="2000">
                    <img src="/metroland/assets/img/Torino.jpg" class="d-block w-100" alt="...">
                </div>
                <div class="carousel-item" data-bs-interval="2000">
                    <img src="/metroland/assets/img/Untitled-1.jpg" class="d-block w-100" alt="...">
                </div>
            </div>

            <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators"
                data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators"
                data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
            </button>
        </div>

        <!-- produk -->
        <div class="container-fluid py-2" id="produk">
            <div class="container-fluid px-3">
                <% let number=1; for(i=0;i<products.length;i++){ const title=products[i].title.split(" ");const totWord = title.length;
                    if(number % 2 === 0){%>
                    <div class=" card mx-auto mx-5 my-5 shadow-lg bg-body-tertiary rounded"
                    id="<%= products[i].title.replaceAll(' ',' _')%>">

                    <a href="/produk/<%= products[i].id %>">

                        <div class="row g-0 d-flex align-items-center" style="overflow-x: hidden">
                            <div class="col-md-6 nomor-2">
                                <div class="card-body text-end">
                                    <h1 class="card-title-product text-uppercase">
                                        <%= products[i].title.replace(title[totWord-1].trim() , '' )%>
                                            <% if(totWord> 1){%>
                                                <span
                                                    style="color: #9B927F; text-decoration: underline; text-underline-offset: 10px; text-decoration-thickness: 4px ;">
                                                    <%= title[totWord-1].trim()%>
                                                </span>
                                                <%}%>
                                    </h1>
                                    <p class="card-text text-start fs-6 text-wrap">
                                        <%= JSDOM.fragment(products[i].content).textContent%>
                                    </p>

                                    <% if(i < (products.length -1)){ %>
                                        <div id="<%= products[i + 1].title.replaceAll(' ',' _') %>_header"></div>
                                        <%}else{%>
                                            <div id="<%= products[i].title.replaceAll(' ',' _') %>_header"></div>
                                            <%} %>

                                                Selengkapnya <img src="/metroland/assets/img/arrow.png">
                                </div>
                            </div>
                            <div class="col-md-6 h-100 nomor-1" style="max-height: 50%;">
                                <img src="/metroland/assets/img_product/<%= products[i].image_banner_1%>"
                                    class="img-fluid float-end rounded" alt="...">
                            </div>
                        </div>
                    </a>



            </div>
            <%}else{%>
                <div class="card mx-auto mx-5 my-5 shadow-lg bg-body-tertiary rounded"
                    id="<%= products[i].title.replaceAll(' ',' _')%>">
                    <a href="/produk/<%= products[i].id %>">

                        <div class="row g-0 d-flex align-items-center" style="overflow-x: hidden">
                            <div class="col-md-6 h-100">
                                <img src="/metroland/assets/img_product/<%= products[i].image_banner_1%>"
                                    class="img-fluid float-start rounded" alt="...">
                            </div>
                            <div class="col-md-6">
                                <div class="card-body">
                                    <h1 class="card-title-product text-uppercase">
                                        <%= products[i].title.replace(title[totWord-1], '' )%>
                                            <% if(totWord> 1){%>
                                                <span
                                                    style="color: #9B927F; text-decoration: underline; text-underline-offset: 10px; text-decoration-thickness: 4px;">
                                                    <%= title[totWord-1]%>
                                                </span>
                                                <%}%>
                                    </h1>
                                    <p class="card-text fs-6 text-wrap">
                                        <%= JSDOM.fragment(products[i].content).textContent%>
                                    </p>

                                    <% if(i < (products.length -1)){ %>
                                        <div id="<%= products[i + 1].title.replaceAll(' ',' _') %>_header"></div>
                                        <%}else{%>
                                            <div id="<%= products[i].title.replaceAll(' ',' _') %>_header"></div>
                                            <%} %>

                                                Selengkapnya <img src="/metroland/assets/img/arrow.png">
                                </div>
                            </div>
                        </div>
                    </a>

                </div>
                <%}number++};%>

                    <div class="text-center">
                        <button class="btn-primary">
                            <a href="/produk">Lihat Semua Produk</a>
                        </button>
                    </div>
        </div>

        </div>

        <!-- brand value -->
        <div class="container-fluid bg-white my-5 py-5" id="brand-value">
            <div class="container-fluid text-center py-md-5">
                <h1>Kenapa harus memilih perumahan Metroland?</h1>
                <div class="row pt-5 px-1">
                    <div class="col-md-3 col-sm-6">
                        <div class="symbol symbol-50px symbol-circle">
                            <img class="symbol-label" src="/metroland/assets/img/akses.png">
                        </div>
                        <h2>Akses & Transportasi Mudah</h2>

                    </div>

                    <div class="col-md-3 col-sm-6">
                        <div class="symbol symbol-50px symbol-circle"><img src="/metroland/assets/img/lokasi.png"
                                class="symbol-label"></div>
                        <h2>Lokasi Strategis</h2>

                    </div>

                    <div class="col-md-3 col-sm-6">
                        <div class="symbol symbol-50px symbol-circle"><img src="/metroland/assets/img/investasi.png"
                                class="symbol-label"></div>
                        <h2>Investasi Tepat</h2>

                    </div>

                    <div class="col-md-3 col-sm-6">
                        <div class="symbol symbol-50px symbol-circle"><img src="/metroland/assets/img/harga.png"
                                class="symbol-label"></div>
                        <h2>Harga terjangkau</h2>

                    </div>
                </div>
            </div>

        </div>

        <!-- simulasi kpr -->
        <div class="container-fluid py-5" id="simulasi">
            <div class="container text-center py-5">
                <h1>Simulasi KPR</h1>
                <h4>Bebas Biaya</h4>
                <h4>KPR,AJB,BPHTB</h4>
                <p>Di sini anda dapat mensimulasikan biaya KPR dengan bank-bank yang tersedia.</p>
                <div class="img-fluid p-3">
                    <img class="bank" src="/metroland/assets/img/bank-mandiri.png">
                    <img class="bank" src="/metroland/assets/img/bank-bri.png">
                    <img class="bank" src="/metroland/assets/img/bank-btn.png">
                    <img class="bank" src="/metroland/assets/img/bank-bni.png">
                </div>
                <div class="img-fluid pt-3">
                    <img class="bank" src="/metroland/assets/img/bank-dki.png">
                    <img class="bank" src="/metroland/assets/img/bank-bjb.png">
                    <img class="bank" src="/metroland/assets/img/bank-danamon.png">
                    <img class="bank" src="/metroland/assets/img/bank-bsi.png">
                </div>
                <div class="img-fluid pt-3">
                    <img class="bank" src="/metroland/assets/img/cinb.png">
                    <img class="bank" src="/metroland/assets/img/ocbc.png">
                </div>

                <button class="btn-primary text-white my-5" id="btn-kpr">
                    <img src="/metroland/assets/img/simulasi kpr.png"
                        style="height: 25px; margin: auto; padding-right: 10px;">Simulasi KPR
                </button>
            </div>
            <div id="berita"></div>
        </div>

        <!-- berita & event -->
        <div class="container-fluid bg-white py-5" id="berita_">
            <div class="container-fluid py-3 px-3">
                <h1 class="text-center">Berita & Event</h1>
                <div class="row pt-3 gy-5">
                    <% news.forEach(n=>{%>

                        <div class="col-md-4">
                            <div class="card mx-auto h-100 w-100">
                                <a href="/berita/<%= n.id %>/detail">
                                    <%if(n.image_thubnail==null){%>
                                        <img class="img-fluid img-thumbnail card-img-top h-100px zoom"
                                            src="/metroland/assets/image_news_thubnail/noimage.png">
                                        <%}else{%>
                                            <img class="img-fluid img-thumbnail card-img-top h-100px"
                                                src="/metroland/assets/image_news_thubnail/<%= n.image_thubnail %>">
                                            <%}%>
                                </a>
                                <div class="card-body">
                                    <a href="/berita/<%= n.id %>/detail">
                                        <h5 class="card-title">
                                            <%= n.title %>
                                        </h5>
                                    </a>
                                    <p class="card-text">
                                        <%= JSDOM.fragment(n.description.substring(0,250)).textContent%>...
                                    </p>
                                </div>
                                <div class="card-footer">
                                    <small class="text-body-secondary">Last updated
                                        <% var currentDate=moment(new Date()); var updated_at=moment(n.updated_at); %>
                                            <%= currentDate.diff(updated_at , 'days' ) %> days ago
                                    </small>
                                </div>
                            </div>
                        </div>
                        <%})%>

                </div>
                <div class="text-center mt-5">
                    <button class="btn-primary">
                        <a href="/berita">Lihat Semua Berita</a>
                    </button>
                </div>
            </div>
        </div>

        <!-- lokasi -->
        <div>
            <div id="lokasi" class="z-depth-1-half map-container">
                <iframe
                    src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d126934.52850657306!2d106.89173253906249!3d-6.170372399999997!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x2e698a4d1f38b353%3A0x69075bc2ab417320!2sKantor%20Pemasaran%20Victoria%20by%20METROLAND!5e0!3m2!1sid!2sid!4v1698081622789!5m2!1sid!2sid"
                    style="border:0;" allowfullscreen="" loading="lazy"
                    referrerpolicy="no-referrer-when-downgrade"></iframe>
            </div>
        </div>

        <%- include('modal') %>
            <%- include('../layouts/f_footer') %>
                <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
                <script src="https://code.jquery.com/jquery-1.9.1.min.js"></script>
                <script src="/metroland/assets/js/front_end/beranda/index.js"></script>

                <%- include('../layouts/f_end') %>