<%- include('../layouts/f_header') %>
    <%- include('../layouts/f_menu_general') %>

        <!--CONTENT-->
        <div class="hero-image">
            <img src="/metroland/assets/img/Aglonema.jpg" class="img-fluid">
        </div>
        <div class="container-fluid">
            <div class="container">
                <img src="/metroland/assets/img/Metroland-Emas.png" width="250" class=" d-block mx-auto my-5">

                <%- data ? data.description :'' %>
                    <img src="/metroland/assets/img/Logo PT Metro Perkasa Abadi.png" class="d-block mx-auto my-5">
            </div>
        </div>
        <div class="container-fluid p-0">
            <img src="/metroland/assets/img/galeri.png" class="img-fluid">
        </div>
        <div>
            <div id="lokasi" class="z-depth-1-half map-container">
                <iframe
                    src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d126934.52850657306!2d106.89173253906249!3d-6.170372399999997!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x2e698a4d1f38b353%3A0x69075bc2ab417320!2sKantor%20Pemasaran%20Victoria%20by%20METROLAND!5e0!3m2!1sid!2sid!4v1698081622789!5m2!1sid!2sid"
                    style="border:0;" allowfullscreen="" loading="lazy"
                    referrerpolicy="no-referrer-when-downgrade"></iframe>
            </div>
        </div>

        <%- include('../layouts/f_footer') %>
            <script src="https://code.jquery.com/jquery-1.9.1.min.js"></script>
            <script src="/metroland/assets/js/front_end/about/index.js"></script>
            <%- include('../layouts/f_end') %>